# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SharpCoder.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\SharpCoder\.idea\.idea.SharpCoder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
